body {
  background-color: #E0E0E0;
  font-family: 'Roboto', sans-serif;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 64px;
  margin-bottom: 50px;
  background: #448AFF;
  border: none;
  box-shadow: 0 1px 2px #0D47A1;
}

.header h2 {
  font-size: 20px;
  position: relative;
  font-weight: normal;
  left: 7em;
  color: white;
}

.explainer {
  position: relative;
  top: 5em;
  width: 360px;
  margin: auto;
}

.explainer p {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0,0,0,0.5);
}

.content {
  position: relative;
  top: 5em;
  background: #FAFAFA;
  box-shadow: 0 1px 2px #9E9E9E;
  width: 450px;
  margin: auto;
  margin-bottom: 15em;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  position: relative;
  left: -20px;
  list-style-type: none;
}

ul li ul {
  position: relative;
  font-weight: 400;
  color: rgba(0,0,0,0.5);
  margin: 5px 5px 10px 5px;
}

ul li ul:hover {
  background: #E3F2FD;
  width: 98%;
}

.line {
  position: relative;
  background: #E1E1E1;
  left: -20px;
  height: 1px;
  width: 200%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.upgradeCircle {
  position: relative;
  margin: auto;
  border-radius: 100%;
  width: 3.5em;
  height: 3.5em;
  box-shadow: 0px 2px 4px #9E9E9E;
}

#red {
  background: #EF5350;
}

#green {
  background: #66BB6A;
}

#green p {
  color: white;
}

#yellow {
  background: #FFC107;
}

#yellow p {
  color: black;
}

.upgradeCircle p {
  position: relative;
  text-align: center;
  padding-top: 1.1em;
  color: white;
}

footer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  height: 100%;
  padding: 20px;
  background: #FAFAFA;
  box-shadow: 0px 5px 5px #9E9E9E;
}

.contentTitle {
  font-weight: 500;
  font-size: 1.1em;
  color: #1976D2;
}

.pushRight {
  position: absolute;
  left: 18em;
}
